.whiteLabel {
    -fx-font-weight: bold;
    -fx-font-family: System;
    -fx-font-size: 12px;
    -fx-text-fill: rgb(255, 255, 255);
}
.blueLabel {
    -fx-font-weight: bold;
    -fx-font-family: System;
    -fx-font-size: 16px;
    -fx-text-fill: rgb(35, 84, 105);
}

.blueLabelSm {
    -fx-font-weight: bold;
    -fx-font-family: System;
    -fx-font-size: 14px;
    -fx-text-fill: rgb(35, 84, 105);
}

.topStripe {
    -fx-background-color: rgb(35, 84, 105);
}

.stripeOdd {
    -fx-background-color: rgb(202, 213, 215);
}

.stripeEven {
    -fx-background-color: rgb(191, 204, 206);
}

.smallHeader {
    -fx-font-weight: bold;
    -fx-font-family: System;
    -fx-font-size: 12px;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 0 5 0 5;
}

.description {
    -fx-font-family: System;
    -fx-font-size: 12px;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 0 5 0 5;
}